[apply]
	whitespace = nowarn

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

[core]
	excludesfile = ~/.gitignore
	editor = vim

[credential]
	helper = GIT_CREDENTIAL_HELPER

[diff]
	tool = meld

[difftool]
	prompt = false

[help]
	autocorrect = 0

[hub]
	protocol = https

[mergetool]
	keepBackup = false

[push]
	default = simple

[user]
	name = Per Magnus Veierland
	email = pveierland@gmail.com

